:root {
  --md-primary-fg-color: #00f0ff;
  --md-primary-bg-color: #0d121d;
  --md-accent-fg-color: #00f0ff;
}
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #06090f;
  --md-default-fg-color: #cbd5e1;
  --md-default-fg-color--light: #94a3b8;
  --md-default-fg-color--lighter: #64748b;
  --md-code-bg-color: #090e17;
  --md-code-fg-color: #38bdf8;
}
.md-typeset details.info summary {
  color: #00f0ff;
  font-weight: bold;
}
.md-typeset details.note summary {
  color: #38bdf8;
  font-weight: bold;
}
